In [106]:
import pandas as pd
import numpy as np

In [107]:
df1 = pd.DataFrame(np.array([[200, 1.1, 0.1], 
                    [235, 1.2, 0.2], 
                    [252, 1.3, 0.3],
                    [321, 1.4, 0.4], 
                    [340, 1.5, 0.5],
                    [350, 1.6, 0.6]]), 
                    columns=['x', 'a', 'b'])
df2 = pd.DataFrame(np.array([[232, 4], 
                             [250, 3], 
                             [342, 2]]),
                   columns=['x', 'c'])
print(df1)
print(df2)

       x    a    b
0  200.0  1.1  0.1
1  235.0  1.2  0.2
2  252.0  1.3  0.3
3  321.0  1.4  0.4
4  340.0  1.5  0.5
5  350.0  1.6  0.6
     x  c
0  232  4
1  250  3
2  342  2

In [108]:
df1['c'] = np.nan

In [109]:
df1

       x    a    b   c
0  200.0  1.1  0.1 NaN
1  235.0  1.2  0.2 NaN
2  252.0  1.3  0.3 NaN
3  321.0  1.4  0.4 NaN
4  340.0  1.5  0.5 NaN
5  350.0  1.6  0.6 NaN

In [110]:
df2

     x  c
0  232  4
1  250  3
2  342  2

In [111]:
for index, row in df2.iterrows():
    index_df1 = df1['x'].sub(row['x']).abs().idxmin()
    print(index_df1)
    df1.loc[index_df1]['c'] = row['c']
    print(df1.loc[index_df1]['c'])

1
4.0
2
3.0
4
2.0

In [112]:
df1

       x    a    b    c
0  200.0  1.1  0.1  NaN
1  235.0  1.2  0.2  4.0
2  252.0  1.3  0.3  3.0
3  321.0  1.4  0.4  NaN
4  340.0  1.5  0.5  2.0
5  350.0  1.6  0.6  NaN